<h4>Create Your Deck</h4>
<form class='form-inline' action='/deck/create' method='post'>
  <input type='text' name='deck[title]' placeholder='Deck Title'>
  <input type='text' name='deck[description]' placeholder='Deck Description'>
  <input class='btn btn-primary' type='submit' value='Create and Add Cards'>
</form>
