<h2>Current card for <%=@round.deck.title%></h2>
<div class='card well well-large'>
  <p><%=@card.question%></p>
</div>
<div class='guess'>
  <form class='form-inline' action='/round/<%=@round.id%>/<%=@card.id%>' method='post'>
    <input type='text' name='guess' placehoder='Enter your guess'>
    <input class='btn btn-primary' type='submit' value='Guess'>
  </form>
</div>
