<div>

<h2><%= @deck.title %></h2>
<p><%= @deck.description %></p>

<form method="post" action="/round/<%= @round.id %>/get_card">
    <button type="submit" class="btn btn-primary">Start Round</button>
</form>
